@import "tailwindcss";

body {
  background-color: #001A6E;
  color: white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}